<div class="my-nav intro">
  <div class="navbar-left">
    <a href="/" class="full-name">
      Full Stack Developer
    </a>
    <a href="/" class="short-name">
      <strong>DL</strong>FSD
    </a>
  </div>
  <div class="navbar-right">
    <%= link_to "Home", "#home", class: "navbar-link about" %>
    <%= link_to "About me", "#about-me", class: "navbar-link about" %>
    <%= link_to "Summary", "#summary", class: "navbar-link about" %>
    <%= link_to "Projects", "#projects", class: "navbar-link projects" %>
    <%= link_to "Contact", "#contact", class: "navbar-link contact" %>

    <div class="burger-menu">
      <div class="burger-menu-inner"></div>
    </div>
  </div>
</div>
<div class="burger-dropdown">
  <%= link_to "Projects", "#projects", class: "dropdown-link projects" %>
  <%= link_to "About me", "#", class: "dropdown-link about" %>
  <%= link_to "Get in touch", "#", class: "dropdown-link contact" %>
</div>
