<div class="my-nav intro">
  <div class="navbar-left">
    <a href="/" class="full-name">
      <strong>Diego Larraz</strong>
      Full Stack Developer
    </a>
    <a href="/" class="short-name">
      <strong>DL</strong>FSD
    </a>
  </div>
  <div class="navbar-right">
    <%= link_to "Projects", "#projects", class: "navbar-link projects" %>
    <%= link_to "About me", "#", class: "navbar-link about" %>
    <%= link_to "Get in touch", "#", class: "navbar-link contact" %>
    <div class="burger-menu">
      <div class="burger-menu-inner"></div>
    </div>
  </div>
</div>
<div class="burger-dropdown">
  <%= link_to "Projects", projects_path, class: "dropdown-link projects" %>
  <%= link_to "About me", about_path, class: "dropdown-link about" %>
  <%= link_to "Get in touch", contact_path, class: "dropdown-link contact" %>
</div>
