<div class="portfolio text-center white">
  <div class="container white">
    <div class="project-odd">
      <div class="project-link">
        <%= link_to "https://www.emitless-app.com", :target => '_blank' do %>
         <%= image_tag "emitless.png", class: "website-image", alt: "Computer screen logo" %>
        <% end %>
      </div>
      <div class="description">
        <h2 class="mb15 morado">Emitless</h2>
        <p class="emitless-description morado">
          Emitless will analyse several retailers and supermarkets and tell you where your basket has the lowest negative impact on the planet. The algorithm will then give you recommendations to switch products for more environmentally friendly ones.
        </p>
        <div class="project-links">
          <div class="project-website">
            <%= image_tag "screen.svg", class: "link-image", alt: "Computer screen logo" %>
            <%= link_to "View site", "https://www.emitless-app.com", target: "_blank", class: "app-link"  %>
          </div>
          <div class="project-github">
            <%= image_tag "github.svg", class: "link-image", alt: "Github logo" %>
            <%= link_to "View source", "https://github.com/diegolarraz/Emitless", target: "_blank", class: "app-link"  %>
          </div>
        </div>
      </div>
    </div>

    <div class="project-even">
      <div class="mobile-link project-link">
        <%= link_to "https://www.fixenova.com/", :target => '_blank' do %>
         <%= image_tag "fiducia.png", class: "website-image", alt: "Computer screen logo" %>
        <% end %>
      </div>
      <div class="description">
        <h2 class="mb15 morado">Fixenova</h2>
        <p class="emitless-description morado">
          A startup project based in Barcelona, Spain. This is the MVP version to gather information on the concept and tailor features to the target market. In Fixenova you will be able to hire our contractors to make a renovation or repair on your home. You can also become a contractor if you wish!
        </p>
        <div class="project-links">
          <div class="project-website">
            <%= image_tag "screen.svg", class: "link-image", alt: "Computer screen logo" %>
            <%= link_to "View site", "https://www.fixenova.com/", target: "_blank", class: "app-link"  %>
          </div>
          <div class="project-github">
            <%= image_tag "github.svg", class: "link-image", alt: "Github logo" %>
          </div>
        </div>
      </div>
      <div class="project-link hidden-mobile">
        <%= link_to "https://www.fixenova.com/", :target => '_blank' do %>
         <%= image_tag "fiducia.png", class: "website-image", alt: "Computer screen logo" %>
        <% end %>
      </div>
    </div>

    <div class="project-odd">
      <div class="project-link">
        <%= link_to "http://re-useful.herokuapp.com/", :target => '_blank' do %>
         <%= image_tag "re-useful.png", class: "website-image", alt: "Computer screen logo" %>
        <% end %>
      </div>
      <div class="description">
        <h2 class="mb15 morado">Reuseful</h2>
        <p class="emitless-description morado">
          A new website for people to list things they don't want anymore. Find products for free and list the things you would like to give away! There are smart notifications and map integrations to help you locate your nearest items.
        </p>
        <div class="project-links">
          <div class="project-website">
            <%= image_tag "screen.svg", class: "link-image", alt: "Computer screen logo" %>
            <%= link_to "View site", "http://re-useful.herokuapp.com/", target: "_blank", class: "app-link"  %>
          </div>
          <div class="project-github">
            <%= image_tag "github.svg", class: "link-image", alt: "Github logo" %>
            <%= link_to "View source", "https://github.com/diegolarraz/Reuseful", target: "_blank", class: "app-link"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
