<div class="front-page" id="home">
  <div class="container">
    <div class="front-page-content1">
      <span class="title">Hi, <span class="im">I'm</span> <span class="underline">Diego</span></span><br>
    </div>
    <div class="front-page-content2">
      <span class="summary quotes">A Full Stack Engineer</span><br><br>
    </div>
    <div class="front-page-content3">
      <%= mail_to 'diegolarraz1@gmail.com', target: "_blank", :action => 'go' do %>
        <div class="orange-button">
          CONTACT ME
        </div>
      <% end %>
      <a href="#about-me">
        <div class="white-button">
          READ MORE
        </div>
      </a>
    </div>
    <br>
    <div class="link-container">
        <%= link_to 'https://www.linkedin.com/in/diego-larraz-22138a175/', class: "mr30", target: "_blank", :action => 'go' do %>
          <i class="fab fa-linkedin-in front-icon"></i>
        <% end %>

        <%= link_to 'https://github.com/diegolarraz', class: "mr30", target: "_blank", :action => 'go' do %>
          <i class="fab fa-github-square front-icon"></i>
        <% end %>

        <%= link_to download_pdf_path, class: "mr30", target: "_blank", :action => 'go' do %>
          <%= image_tag "cv.svg", alt: "alttext", class: "front-icon", id: "cvsvg" %>
        <% end %>
    </div>
  </div>
</div>

<div class="about-me-strip" id="about-me">
  <div class="container reveal">
    <div class="title text-center">
      Welcome to my portfolio!
    </div>
    <div class="sub-title text-center">
      Here's a little something about myself.
    </div>
  </div>
</div>
<div class="gap"></div>
<div class="about-me">
  <div class="container reveal">
    <div class="row about-cont">
      <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3">
      </div>
      <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11 about-text">
        Upon finishing my undergradute degree in business management at the University of Exeter, I worked as an analyst in a Fintech startup where I found my passion in software development.<br><br>

        I decided to change careers and I completed the Full Stack Development course at <%= link_to "Le Wagon", "https://www.switchup.org/rankings/best-coding-bootcamps", target: "_blank", class: "bio-link" %>, the #1 Bootcamp in the world. I love coding creative solutions to tackle complex problems and I have been freelancing to further my experience in the tech industry.<br><br>

        I am looking to take on a software development role in a team where my skill set would be useful. I have an eagerness to solve problems, and provide more meaningful and intuative customer experiences.<br><br>

        Aside from my professional life, I love to spend my time with my family, friends and playing sports. I have played in two Lacrosse World Championships with the Spanish National team, I am extremely interested in rock climbing and love any sort of board sport.<br><br>

        Please feel free to email using the <a href="#contact-me" class="bio-link" remote="true">contact form</a> if you have any questions.
      </div>
      <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3">
      </div>
    </div>
  </div>
</div>

<div class="gap"></div>

<%= render "summary" %>

<div class="portfolio-strip text-center white" id="projects">
  <div class="container reveal white">
    Projects
    <div class="line"></div>
  </div>
</div>

<%= render "projects" %>

<%= render "shared/contact" %>

