<div class="navbar">
  <div class="container">
    <div class="my-nav intro">
      <div class="navbar-left">
        <a href="/" class="full-name">
          <strong>Diego Larraz</strong> FSD
        </a>
        <a href="/" class="short-name">
          <strong>DL</strong>FSD
        </a>
      </div>
      <div class="navbar-right">
        <%= link_to "Home", "#home", class: "navbar-link about" %>
        <%= link_to "About me", "#about-me", class: "navbar-link about" %>
        <%= link_to "Summary", "#summary", class: "navbar-link about" %>
        <%= link_to "Projects", "#projects", class: "navbar-link projects" %>
        <%= mail_to 'diegolarraz1@gmail.com', target: "_blank", :action => 'go', class: "navbar-link contact" do %>
          Contact
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="front-page" id="home">
  <div class="container">
    <div class="front-page-content1">
      <span class="title">Hi, <span class="im">I'm</span> <span class="underline">Diego</span></span><br>
    </div>
    <div class="front-page-content2">
      <span class="summary quotes">A Fullstack developer</span><br><br>
    </div>
    <div class="front-page-content3">
      <%= mail_to 'diegolarraz1@gmail.com', target: "_blank", :action => 'go' do %>
        <div class="orange-button">
          CONTACT ME
        </div>
      <% end %>
      <a href="#about-me">
        <div class="white-button">
          READ MORE
        </div>
      </a>
    </div>
    <br>
    <div class="link-container">
        <%= link_to 'https://www.linkedin.com/in/johnmarsden24/', class: "mr30", target: "_blank", :action => 'go' do %>
          <i class="fab fa-linkedin-in front-icon"></i>
        <% end %>

        <%= link_to 'https://github.com/diegolarraz', class: "mr30", target: "_blank", :action => 'go' do %>
          <i class="fab fa-github-square front-icon"></i>
        <% end %>

        <%= link_to download_pdf_path, class: "mr30", target: "_blank", :action => 'go' do %>
          <i class="far fa-file front-icon"></i>
        <% end %>
    </div>
  </div>
</div>

<div class="about-me-strip" id="about-me">
  <div class="container reveal">
    <div class="title text-center">
      Welcome to my portfolio!
    </div>
    <div class="sub-title text-center">
      Here's a little something about myself.
    </div>
  </div>
</div>
<div class="gap"></div>
<div class="about-me">
  <div class="container reveal">
    <div class="row about-cont">
      <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3">
      </div>
      <div class="col-xs-10 col-sm-6 col-md-6 col-lg-11 about-text">
        Upon finishing my undergradute degree in business management at the University of Exeter, I worked as an analyst in a Fintech startup where I found my passion in software development.<br><br>

        I decided to change careers and I completed the Fullstack Development course at Le Wagon, the #1 Bootcamp in the world. I love coding creative solutions to tackle complex problems and I have been freelancing to further my experience in the tech industry.<br><br>

        I am looking to take on a developer role in a team where my skillset would be more useful than working by myself. I have an eagerness to learn from more experienced developers, to write more meaningful and efficient code to solve challenging problems.<br><br>

        Aside from my professional life, I love to spend my time with my family, friends and playing sports. I have played in two Lacrosse World Championships with the Spanish National team, I am extremely interested in rock climbing and love any sort of board sport.<br><br>

        Please feel free to drop me an email using the <a href="#contact-me">contact form</a> if you have any questions.
      </div>
      <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3">
      </div>
    </div>
  </div>
</div>

<div class="gap"></div>

<div class="education-experience-skills" id="summary">
  <div class="container">
    <div class="row is-flex">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
        <div class="box">
          <h4><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;Education</h4>
          <div class="line"></div>2020
          <br><strong>Le Wagon</strong>
          <br>Fullstack Web Development
          <br>
          <br>2016 - 2019
          <br><strong>University of Exeter</strong>
          <br>BA Business Management
          <br>
          <br>2015 - 2016
          <br><strong>University of Wisconsin - Madison</strong>
          <br>BA Computer Engineering
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
        <div class="box">
          <h4><i class="fa fa-list" aria-hidden="true"></i>&nbsp;Experience</h4>
          <div class="line"></div>
          2020
          <br><strong>Le Wagon</strong>
          <br><span class="">Teaching Assistant</span>
          <br>
          <br>2020
          <br><strong>Freelance Developer</strong>
          <br><span class="">Fixenova App</span>
          <br>
          <br> 2019 - 2020
          <br><strong>Homeppl</strong>
          <br><span class="">Operations Analyst at a Tech Startup</span>
          <br>
          <br> 2016
          <br><strong>College Pro</strong>
          <br><span class="">Business Development Executive</span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
        <div class="box">
          <h4><i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;Skills</h4>
          <div class="line"></div>
          <h1>
            <div class="skill-icons">
              <i class="devicon-html5-plain-wordmark"></i>
              <i class="devicon-css3-plain-wordmark"></i>
              <i class="devicon-bootstrap-plain-wordmark"></i><br>
              <i class="devicon-sass-original"></i>
              <i class="devicon-ruby-plain-wordmark"></i>
              <i class="devicon-rails-plain-wordmark"></i><br>
              <i class="devicon-javascript-plain"></i>
              <i class="devicon-react-original-wordmark"></i>
              <i class="devicon-git-plain colored"></i>
              <i class="devicon-photoshop-plain"></i>
              <i class="devicon-postgresql-plain"></i>
              <i class="devicon-heroku-plain-wordmark"></i>
              <i class="devicon-webpack-plain"></i>
              <i class="devicon-redis-plain-wordmark"></i>
              <i class="devicon-yarn-plain"></i>
            </div>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-strip text-center white" id="projects">
  <div class="container reveal white">
    Projects
    <div class="line"></div>
  </div>
</div>

<div class="portfolio text-center white">
  <div class="container white">
    <div class="project-odd">
      <div class="project-link">
        <%= link_to "https://www.emitless-app.com", :target => '_blank' do %>
         <%= image_tag "emitless.png", class: "website-image", alt: "Computer screen logo" %>
        <% end %>
      </div>
      <div class="description">
        <h2 class="mb15">Emitless</h2>
        <p class="emitless-description">
          A new website for an established musician who wanted to expand his online presence and have more freedom on the content he wished to post than was available with his previous host.
        </p>
        <div class="project-links">
          <div class="project-website">
            <%= image_tag "screen.svg", class: "link-image", alt: "Computer screen logo" %>
            <%= link_to "View site", "https://www.emitless-app.com", target: "_blank"  %>
          </div>
          <div class="project-github">
            <%= image_tag "github.svg", class: "link-image", alt: "Github logo" %>
            <%= link_to "View source", "https://github.com/diegolarraz/Emitless", target: "_blank"  %>
          </div>
        </div>
      </div>
    </div>

    <div class="project-even">
      <div class="description">
        <h2 class="mb15">Fixenova</h2>
        <p class="emitless-description">
          A new website for an established musician who wanted to expand his online presence and have more freedom on the content he wished to post than was available with his previous host.
        </p>
        <div class="project-links">
          <div class="project-website">
            <%= image_tag "screen.svg", class: "link-image", alt: "Computer screen logo" %>
            <%= link_to "View site", "https://fiducia.herokuapp.com/", target: "_blank"  %>
          </div>
          <div class="project-github">
            <%= image_tag "github.svg", class: "link-image", alt: "Github logo" %>
            <%= link_to "View source", "https://github.com/diegolarraz/Fiducia", target: "_blank"  %>
          </div>
        </div>
      </div>
      <div class="project-link">
        <%= link_to "https://fiducia.herokuapp.com/", :target => '_blank' do %>
         <%= image_tag "fiducia.png", class: "website-image", alt: "Computer screen logo" %>
        <% end %>
      </div>
    </div>

    <div class="project-odd">
      <div class="project-link">
        <%= link_to "https://www.re-useful.herokuapp.com", :target => '_blank' do %>
         <%= image_tag "re-useful.png", class: "website-image", alt: "Computer screen logo" %>
        <% end %>
      </div>
      <div class="description">
        <h2 class="mb15">Reuseful</h2>
        <p class="emitless-description">
          A new website for an established musician who wanted to expand his online presence and have more freedom on the content he wished to post than was available with his previous host.
        </p>
        <div class="project-links">
          <div class="project-website">
            <%= link_to "View site", "https://www.re-useful.herokuapp.com", target: "_blank"  %>
          </div>
          <div class="project-github">
            <%= link_to "View source", "https://github.com/diegolarraz/Reuseful", target: "_blank"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact-me" id="contact-me">
  <div class="container reveal">
    <div class="row">
      <div class="hiddex-xs col-sm-2 col-md-3 col-lg-3"></div>
      <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 text-center">
        <span class="title">Contact me</span><br><br>
        <a href="https://www.linkedin.com/in/diego-larraz-22138a175/" target="_blank"><i class="fab fa-linkedin"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://github.com/diegolarraz" target="_blank"><i class="fab fa-github-square"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <%= mail_to 'diegolarraz1@gmail.com', target: "_blank", :action => 'go', class: "contact" do %>
          <i class="far fa-envelope"></i>
        <% end %>
        <br><br>
        <span class="copyright">&copy; 2020 Diego Larraz</span>
      </div>
      <div class="hiddex-xs col-sm-2 col-md-3 col-lg-3"></div>
    </div>
  </div>
</div>

